$padding: 24px;
$gap: 16px;

$navigation-height: 80px;
$navbar-height: $navigation-height;
$sidebar-width: $navigation-height;

$images: 20px;

$transition-property: all;
$transition-duration: 1s;
$transition-timing-function: ease;
$transition-delay: 0s;

$transition: $transition-property $transition-duration $transition-timing-function $transition-delay;
