@use "styles/index" as index;

.shell {
	position: relative;
	min-height: 100vh;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 40px;
	min-height: 100vh;
	padding: index.$padding;
	padding-left: calc(index.$sidebar-width + index.$padding);
}

@media (max-width: 900px) {
	.main {
		padding: index.$padding;
		padding-top: calc(index.$navbar-height + index.$padding);
	}
}

