@use "styles/colors" as colors;
@use "styles/index" as index;
@use "styles/fonts" as fonts;

* {
	box-sizing: border-box;
	font-family: Arial, monospace;
}

html,
body,
#root {
	min-height: 100%;
}

.title {
	font: fonts.$title;
}

.text {
	font: fonts.$text;
}

:root {
	/* default (light) theme variables */
	--color-primary: #ffffff; /* surfaces */
	--color-secondary: #000000; /* text */
	--color-tertiary: #ff6c01; /* accent */
	--color-gray-100: #f6f6f6;
	--color-gray-300: #ebebeb;
}

body {
	margin: 0;
	background: var(--color-gray-100);
	color: var(--color-secondary);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body.dark {
	--color-primary: #000000;
	--color-secondary: #ffffff;
	--color-gray-100: #111111;
	--color-gray-300: #222222;
	--color-tertiary: #ff9a46;
}
